{% extends 'EnsiieMainBundle:Etu:index.html.twig' %}

{% block body %}

<h1>Liste des examens</h1>

<h5>Ma moyenne : {{ moyenne }}</h5>
<h3>Examens de ma promo</h3>

{% if mes_examens_promo is empty %}
    Aucun examen pour le moment.
{% else %}
<table class="table table-hover table-bordered" style=";background-color:white;">    
  <thead style="background-color:#49afcd">
    <tr>
      <th >Libelle</th>
      <th >Description</th>
      <th >Date de début</th>
      <th >Date de fin</th>
      <th >Statut</th>
      <th >Déposé par</th>
      <th >Lien</th>
      <th>Déposer</th>
    </tr>
  </thead>
  <tbody> 
  {% for exam in mes_examens_promo %}	
  <tr>
    <td><p>{{ exam.libelle }}</p></td>
    <td><p>{{ exam.description }} (coef {{ exam.coefficient }})</p></td>
    <td><p>{{ exam.dateDebut.format('Y-m-d H:i') }}</p></td>
    <td><p>{{ exam.dateFin.format('Y-m-d H:i') }}</p></td>
    <td>
      <p>
      {% if date < exam.dateDebut %}En création{% elseif date > exam.dateFin %}Clos{% else %}En cours{% endif %}
      </p>
    </td>
    <td>
      <p>
      {% if exam.file != "" %}
	{{ exam.file.user.username }}
      {% else %}
	 
      {% endif %}
      </p>
    </td>
    {% if exam.file != "" and date > exam.dateDebut and date < exam.dateFin %}
    <td><a href="{{ exam.file.getDlPath() }}" ><img style="width:35px;heigth:35px;" src="{{ asset('../img/dl.jpg') }}"></a></td>
    <td><a href="{{ path('ensiie_etudiant_examen_deposer',{"id":exam.id})}}" >
      {% set bool = true %}
      {% for de in exam.depot %}
	{% if de.etudiant == etu %}
	 {% set bool = false %}
	{% endif %}
      {% endfor %}
      
      {% if bool %}
      <img style="width:35px;heigth:35px;" src="{{ asset('../img/up.gif') }}">
      {% else %}
      <img style="width:35px;heigth:35px;" src="{{ asset('../img/ok.png') }}">
      {% endif %}
      </a></td>
    {% else %}
    <td></td>
    <td>
    {{ depots[exam.id] }}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<h3>Mes rattrapages</h3>
{% if mes_rattrapages is empty %}
Aucun rattrapage.
{% else %}

<table class="table table-hover table-bordered" style=";background-color:white;">    
  <thead style="background-color:#49afcd">
    <tr>
      <th >Libelle</th>
      <th >Description</th>
      <th >Date de début</th>
      <th >Date de fin</th>
      <th >Statut</th>
      <th >Déposé par</th>
      <th >Lien</th>
      <th>Déposer</th>
    </tr>
  </thead>
  <tbody> 
  {% for exam in mes_rattrapages %}	
  <tr>
    <td><p>{{ exam.libelle }}</p></td>
    <td><p>{{ exam.description }} (coef {{ exam.coefficient }})</p></td>
    <td><p>{{ exam.dateDebut.format('Y-m-d H:i') }}</p></td>
    <td><p>{{ exam.dateFin.format('Y-m-d H:i') }}</p></td>
    <td>
      <p>
      {% if date < exam.dateDebut %}
	En création
      {% elseif date > exam.dateFin %}
	Clos
      {% else %}
	En cours
      {% endif %}
      </p>
    </td>
    <td>
      <p>
      {% if exam.file != "" %}
	{{ exam.file.user.username }}
      {% else %}
	 
      {% endif %}
      </p>
    </td>
    {% if exam.file != "" and date > exam.dateDebut and date < exam.dateFin %}
    <td><a href="{{ exam.file.getDlPath() }}" ><img style="width:35px;heigth:35px;" src="{{ asset('../img/dl.jpg') }}"></a></td>
    <td><a href="" >x</a></td>
    {% else %}
    <td></td>
    <td> 
    {{ depots[exam.id] }}</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
