{% extends '::base.html.twig' %}

{% block subnav %}
  
  <div class="span2" >
  <ul class="menu nav nav-list" style="">
    <li class="nav-header">
      Utilisateurs
    </li>
    <li><a href="{{ path('ensiie_admin_ajoutprof') }}">Ajouter un prof</a></li>
    <li><a href="{{ path('ensiie_admin_retraitprof',{"b":"x"}) }}">Supprimer un utilisateur</a></li>
    <li class="nav-header">
      Promos
    </li>
    <li><a href="{{ path('ensiie_admin_promos') }}">Gérer les promos</a></li>
    <li><a href="{{ path('ensiie_admin_promo_add') }}">Créer promo</a></li>

    <li class="nav-header">
          Profil </li>
        <li> <a href="{{ path('ensiie_password_change')}}">Changer le mot de passe</a> <li>

  </ul>
  </div>
{% endblock %}
{% block body %}

  <h1>Admin</h1>
  
  <p>Bienvenu dans l'espace d'administration.<br/>Vous pouvez gérer les utilisateurs et les promos grâce à votre compte.</p>
{% endblock %}