{% extends 'EnsiieMainBundle:Admin:index.html.twig' %}

{% block body %}

{% if promo == '' %}
<h1>Gestion des promos</h1>
<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Sélectionner" />
</form>
{% else %}
<h1>{{ promo }}</h1>

<div class="btn-group">
  <a class="btn" href="{{ path('ensiie_admin_promos_ajouter',{"id":id})}}">Ajouter</a>
  <a class="btn" href="{{ path('ensiie_admin_promos_retirer',{"id":id})}}">Retirer</a>
  <a class="btn btn-danger" href="{{ path('ensiie_admin_promo_removePromo',{"id":id})}}">Supprimer</a>
</div>

{% endif %}

{% endblock %}