{% extends '::base.html.twig' %}

{% block subnav %}
  
  <div class="span2" >
  <ul class="menu nav nav-list" style="">
    <li class="nav-header">
      Examens</li>
    <li ><a href="{{ path('ensiie_etudiant_examen_consult')}}">Consulter</a></li>
  </ul>
  </div>
{% endblock %}

{% block body %}

  <h1>{{ etudiant.prenom }} {{ etudiant.nom }}</h1>
    <ul>
       <li> Adresse: {{ etudiant.adresse}} </li>
       <li> Code postal: {{ etudiant.codePostal }} </li>
       <li> Ville: {{ etudiant.ville }} </li>
       <li> Email: {{ etudiant.email }} </li>
       <li> Téléphone: {{ etudiant.telephone }} </li>
       <li> Promo actuelle: {{ etudiant.promo }} </li>
    </ul>
  <h4> Vérifiez que vos informations sont à jour ! </h4>
{% endblock %}