{% extends 'EnsiieMainBundle:Prof:index.html.twig' %}

{% block body %}
<h1>Depots de l'examen</h1>
{{ msg }}
<p>Nombre d'étudiants inscrits : {{ inscrits["promo"] }} + {{ inscrits["supp"] }} = {{ inscrits["promo"]+ inscrits["supp"] }}</p>
<p>Nombre de dépots disponibles : {{ nb_depots }}</p>
<p>Moyenne temporaire : {{ moyenne }}<p>
<table class="table table-hover table-bordered" style=";background-color:white;">    
  <thead style="background-color:#49afcd">
    <tr>
      <th >Etudiant</th>
      <th >Fichier</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody> 
  {% for depot in depots %}
  <tr style="height:5px;">
    <td >
    {{ depot.etudiant }}
    </td>
    <td >
    <a href="{{ depot.getDlPath() }}">x</a>
    </td>
    <td style=";padding:0px 0px 0px 0px;">
	    <form  action="{{ path('ensiie_examen_depots_consulter',{"id":id,"dpt":depot.id}) }}" method="post" {{ form_enctype(array_form[depot.id].createView()) }}>
	    {{ form_widget(array_form[depot.id].createView().note)}}
	    <input type="submit" value="Noter" class="btn btn-primary" />
	    </form>
    </td>
  </tr>
  {% endfor %}
{% endblock %}