{% extends 'EnsiieMainBundle:Prof:index.html.twig' %}

{% block body %}
<h1>Dépots de l'examen</h1>
{{ msg }}
<p>Nombre d'étudiants inscrits : {{ inscrits["promo"] }} + {{ inscrits["supp"] }} = {{ inscrits["promo"]+ inscrits["supp"] }}</p>
<p>Nombre de dépots disponibles : {{ nb_depots }} / {{ inscrits["promo"]+ inscrits["supp"] }}</p>

<p>Moyenne (des notés): {{ '%.2f'|format(moyenne) }}<p>
<p>Moyenne administrative: {{ '%.2f'|format((nb_depots * moyenne )/ (inscrits["promo"]+ inscrits["supp"])) }}<p>

{% if depots is empty %}
  <h5>Pas de dépots pour le moment</h4>
{% else %}
<table class="table table-hover table-bordered" style="width:65%;;background-color:white;">    
  <thead style="background-color:#49afcd">
    <tr>
      <th >Etudiant</th>
      <th >Fichier</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody> 
  {% for depot in depots %}
  <tr style="height:5px;">
    <td >
    {{ depot.etudiant }}
    </td>
    <td >
    <a href="{{ depot.getDlPath() }}">x</a>
    </td>
    <td style="padding:0px 0px 0px 0px;">
	    <div>
	    
	    <form  style="postion:relative;margin:0px 0px 0px 0px;padding:5px 0px 0px 5px;" action="{{ path('ensiie_examen_depots_consulter',{"id":id,"dpt":depot.id}) }}" method="post" {{ form_enctype(array_form[depot.id].createView()) }}>
	    {{ form_widget(array_form[depot.id].createView().note)}}
	    <input  class="btn btn-primary" style="postion:relative;vertical-align:top;" type="submit" value="Noter"  />
	    </form>
	    </div >
    </td>
  </tr>
  {% endfor %}
{% endif %}
{% endblock %}