{% extends '::base.html.twig' %}


{% block body %}

  <h1>Home</h1>
    <div class="btn-group">
      <a class="btn" href="{{ path('ensiie_homepage',{"tri":"exam"})}}">Par examen</a>
      <a class="btn" href="{{ path('ensiie_homepage',{"tri":"promo"})}}">Par promo</a>
    </button>
    </div>

    <div "moyennes">
        {% if moyennes_exams is empty %}
            Aucun moyenne pour l'instant.
        {% else %}
            <table class="table table-hover table-bordered" style=";background-color:white;">    
                <thead style="background-color:#49afcd">
                    <tr>
                        <th> Moyenne </th>
                        <th> Examen </th>
                        <th> Coefficient </th>
                        <th> Promo  </th>
                    </tr>
                </thead>
            {% for moyenne,exam in moyennes_exams %}
                    <tr>
                        <th> {{ '%.2f'|format(moyenne) }}</th>
                        <th> {{ exam.libelle }} </th>
                        <th> {{ exam.coefficient }} </th>
                        <th> {{ exam.promo.getLibelle() }} </th>
                    </tr>
            {% endfor %}
        {% endif %}
        
    </div>

    <div "moyennes-promos">
    {% if moyennes_exams is empty %}
            Aucun moyenne pour l'instant.
    {% else %}
        <table class="table table-hover table-bordered" style=";background-color:white;">    
             <thead style="background-color:#49afcd">
                <tr>
                    <th> Promo </th>
                    <th> Moyenne </th>
                </tr>
             </thead>
        {% for promo,moyenne in moyennes_promos %}
            <tr>            
                <th> {{ promo }} </th>
                <th> {{ '%.2f'|format(moyenne) }} </th>
            </tr>
        {% endfor %}
     {% endif %}
    </div>
{% endblock %}