{% extends 'EnsiieMainBundle:Prof:index.html.twig' %}

{% block body %}

<h1>Liste des examens</h1>

<div class="btn-group">
  <a class="btn" href="{{ path('ensiie_examen_show',{"by_owner":"false"})}}">Tous</a>
  <a class="btn" href="{{ path('ensiie_examen_show',{"by_owner":"true"})}}">Mes Examens</a>
</button>
</div>
<table class="table table-hover table-bordered" style=";background-color:white;">    
  <thead style="background-color:#49afcd">
    <tr>
      <th >Libelle</th>
      <th >Description</th>
      <th>Promo</th>
      <th >Date de début</th>
      <th >Date de fin</th>
      <th >Statut</th>
      <th >Déposé par</th>
      <th >Lien</th>
    </tr>
  </thead>
  <tbody> 
  {% for exam in exams %}	
  <tr>
    {% if exam.file != "" %}
    <td>
    {% if exam.file.user == user %}
    <p><a href="{{ path('ensiie_examen_modifier_id',{"id":exam.id})}}" >{{ exam.libelle }}</a></p>
    {% else %}
    <p>{{ exam.libelle }}</p>
    {% endif %}
    {% endif %}
    </td>
    <td><p>{{ exam.description }}</p></td>
    <td><p></p>{{ exam.promo.annee }}</td>
    <td><p>{{ exam.dateDebut.format('Y-m-d H:i') }}</p></td>
    <td><p>{{ exam.dateFin.format('Y-m-d H:i') }}</p></td>
    <td>
      <p>
      {% if date < exam.dateDebut %}
	En création
      {% elseif date > exam.dateFin %}
	Clos
      {% else %}
	En cours
      {% endif %}
      </p>
    </td>
    <td>
      <p>
      {% if exam.file != "" %}
	{{ exam.file.user.username }}
      {% else %}
	 
      {% endif %}
      </p>
    </td>
    <td><p>
      {% if exam.file != "" and date > exam.dateDebut and date < exam.dateFin %}
	<a href="{{ exam.file.getDlPath() }}" ><img src="{{ asset('../img/pdfIcon.png') }}" style="width:25px;heigth:25px"></a>
      {% else %}{% endif %}
      </p></td>
    </tr>
  {% endfor %}
  {% for exam in exams2 %}	
  <tr>
    {% if exam.file != "" %}
    <td>
    {% if exam.file.user == user %}
    <p><a href="{{ path('ensiie_examen_modifier_id',{"id":exam.id})}}" >{{ exam.libelle }}</a></p>
    {% else %}
    <p>{{ exam.libelle }}</p>
    {% endif %}
    {% endif %}
    </td>
    <td><p>{{ exam.description }}</p></td>
    <td><p></p>{{ exam.promo.annee }}</td>
    <td><p>{{ exam.dateDebut.format('Y-m-d H:i') }}</p></td>
    <td><p>{{ exam.dateFin.format('Y-m-d H:i') }}</p></td>
    <td>
      <p>
      {% if date < exam.dateDebut %}
	En création
      {% elseif date > exam.dateFin %}
	Clos
      {% else %}
	En cours
      {% endif %}
      </p>
    </td>
    <td>
      <p>
      {% if exam.file != "" %}
	{{ exam.file.user.username }}
      {% else %}
	 
      {% endif %}
      </p>
    </td>
    <td><p>
	<a href="{{ exam.file.getDlPath() }}" >x</a>
      </p></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}